@import "bootstrap";

@media (max-width: 736px) {
  .btn {
    padding:2px 4px;
    font-size: 5vw;
    color: white;
    line-height: 1;
    border-radius:3px;
    background-color: green;

    &-danger {
      color: white;
      background-color: red;
    }
  }

}

a.btn:visited {
  color: white;
}

.trends li {
  border: 1px solid gray;
  border-radius: 20%;
}

.the-bottom {
  margin-bottom: 20%;
}
